// Tabs

.tab {
  --#{$prefix}tab-link-padding-y: #{$tab-link-padding-y};
  --#{$prefix}tab-link-color: #{$tab-link-color};
  --#{$prefix}tab-link-text-font-size: #{$tab-link-text-font-size};
  --#{$prefix}tab-link-text-line-height: #{$tab-link-text-line-height};
  --#{$prefix}tab-link-text-margin-x: #{$tab-link-text-margin-x};
  --#{$prefix}tab-link-active-color: #{$tab-link-active-color};

  display: flex;
  flex-wrap: wrap;
  list-style: none;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: var(--#{$prefix}tab-link-padding-y);
    padding-bottom: var(--#{$prefix}tab-link-padding-y);
    background: none;
    border: none;
    color: var(--#{$prefix}tab-link-color);
    font-size: var(--#{$prefix}tab-link-text-font-size);
    line-height: var(--#{$prefix}tab-link-text-line-height);
    text-decoration: none;
    user-select: none;
    white-space: nowrap;

    &.active {
      color: var(--#{$prefix}tab-link-active-color);
    }
  }

  &__text {
    margin-left: var(--#{$prefix}tab-link-text-margin-x);
    margin-right: var(--#{$prefix}tab-link-text-margin-x);
  }

  &--fill {
    .tab__item {
      flex: 1 1 auto;

      .tab__link {
        width: 100%;
      }
    }
  }

  &__content {
    --#{$prefix}tab-content-margin-y: #{$tab-content-margin-y};
    --#{$prefix}tab-content-padding-x: #{$tab-content-padding-x};

    > .tab__panel {
      display: none;
      margin-top: var(--#{$prefix}tab-content-margin-y);
      padding-left: var(--#{$prefix}tab-content-padding-x);
      padding-right: var(--#{$prefix}tab-content-padding-x);
    }

    > .active {
      display: block;
    }
  }
}
