@font-face {
  font-family: AppleSDGothicNeo;
  font-style: light;
  font-weight: 300;
  src: url(./AppleSDGothicNeoL.woff);
}

@font-face {
  font-family: AppleSDGothicNeo;
  font-style: regular;
  font-weight: 400;
  src: url(./AppleSDGothicNeoR.woff);
}

@font-face {
  font-family: AppleSDGothicNeo;
  font-style: medium;
  font-weight: 500;
  src: url(./AppleSDGothicNeoM.woff);
}

@font-face {
  font-family: AppleSDGothicNeo;
  font-style: semibold;
  font-weight: 600;
  src: url(./AppleSDGothicNeoSB.woff);
}

@font-face {
  font-family: AppleSDGothicNeo;
  font-style: bold;
  font-weight: 700;
  src: url(./AppleSDGothicNeoB.woff);
}

